<div class="languages">
    <ul class="languages__list">
        <li class="languages__item">
            <a href="" class="languages__text">LV</a>
        </li>
        <li class="languages__item">
            <a href="" class="languages__text">EN</a>
        </li>
        <li class="languages__item">
            <span class="languages__text">RU</span>
        </li>
    </ul>
</div>
