<footer class="footer">
    <div class="footer__copyright">© 2016 Dubultu Krasts</div>
    <ul class="footer-items">
        <li class="footer-items__item">
            <div class="footer-items__item-title">офис продаж</div>

            <div class="footer-items__section">
                <a href="tel:+371 26113355" class="footer-items__item-link">+371 26113355</a>
            </div>
            <div class="footer-items__section">
                <a href="mailto:sales@dubultukrasts.lv" class="footer-items__item-link">sales@dubultukrasts.lv</a>
            </div>
        </li>
        <li class="footer-items__item">
            <div class="footer-items__item-title">Адрес</div>

            <div class="footer-items__section">
                <div class="footer-items__item-text">Слокас 51, Юрмала</div>
            </div>
            <div class="footer-items__section">
                <a href="#" class="footer-items__item-link">Смотреть на карте</a>
            </div>
        </li>
        <li class="footer-items__item">
            <div class="footer-items__item-title">офис продаж</div>

            <div class="footer-items__section">
                <div class="footer-items__item-text">Вход для жильцов</div>
            </div>
            <div class="footer-items__section">
                <a href="#" class="footer-items__item-link">{% include 'svg/key.svg' %}</a>
            </div>
        </li>
    </ul>
</footer>