<div data-pin-map class="pin-map">
    <div data-pin-city="jurmala" class="pin-map__city pin-map__city--jurmala">
        <div data-pin="click" class="pin__icon"></div>
        <div class="pin__text">юрмала</div>
    </div>
    <div data-pin-city="london" class="pin-map__city pin-map__city--london">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__text">лондон</div>
        <div class="pin__route pin__route--london">
            {% include 'svg/routes/5.svg' %}
        </div>
        <div class="pin__modal">
            <div class="pin__title">Лондон</div>
            <ul class="pin__list">
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">≈1 час</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">12 часов</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">11 часов</div>
                </li>
            </ul>
        </div>
    </div>
    <div data-pin-city="paris" class="pin-map__city pin-map__city--paris">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__text">париж</div>
        <div class="pin__route pin__route--paris">
            {% include 'svg/routes/8.svg' %}
        </div>
        <div class="pin__modal">
            <div class="pin__title">париж</div>
            <ul class="pin__list">
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">≈1 час</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">12 часов</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">11 часов</div>
                </li>
            </ul>
        </div>
    </div>
    <div data-pin-city="madrid" class="pin-map__city pin-map__city--madrid">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__text">Мадрид</div>
        <div class="pin__route pin__route--madrid">
            {% include 'svg/routes/11.svg' %}
        </div>
        <div class="pin__modal pin__modal--madrid">
            <div class="pin__title">Мадрид</div>
            <ul class="pin__list">
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">≈1 час</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">12 часов</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">11 часов</div>
                </li>
            </ul>
        </div>
    </div>
    <div data-pin-city="berlin" class="pin-map__city pin-map__city--berlin">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__text">берлин</div>
        <div class="pin__route pin__route--berlin">
            {% include 'svg/routes/7.svg' %}
        </div>
        <div class="pin__modal">
            <div class="pin__title">берлин</div>
            <ul class="pin__list">
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">≈1 час</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">12 часов</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">11 часов</div>
                </li>
            </ul>
        </div>
    </div>
    <div data-pin-city="vena" class="pin-map__city pin-map__city--vena">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__text">Вена</div>
        <div class="pin__route pin__route--vena">
            {% include 'svg/routes/10.svg' %}
        </div>
        <div class="pin__modal">
            <div class="pin__title">Вена</div>
            <ul class="pin__list">
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">≈1 час</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">12 часов</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">11 часов</div>
                </li>
            </ul>
        </div>
    </div>
    <div data-pin-city="rim" class="pin-map__city pin-map__city--rim">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__text">рим</div>
        <div class="pin__route pin__route--rim">
            {% include 'svg/routes/12.svg' %}
        </div>
        <div class="pin__modal">
            <div class="pin__title">рим</div>
            <ul class="pin__list">
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">≈1 час</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">12 часов</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">11 часов</div>
                </li>
            </ul>
        </div>
    </div>
    <div data-pin-city="piter" class="pin-map__city pin-map__city--piter">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__text">санкт-петергбург</div>
        <div class="pin__route pin__route--piter">
            {% include 'svg/routes/3.svg' %}
        </div>
        <div class="pin__modal">
            <div class="pin__title">санкт-петергбург</div>
            <ul class="pin__list">
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">≈1 час</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">12 часов</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">11 часов</div>
                </li>
            </ul>
        </div>
    </div>
    <div data-pin-city="moskva" class="pin-map__city pin-map__city--moskva">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__text">москва</div>
        <div class="pin__route pin__route--moskva">
            {% include 'svg/routes/4.svg' %}
        </div>
        <div class="pin__modal">
            <div class="pin__title">Москва</div>
            <ul class="pin__list">
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">≈1 час</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">12 часов</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">11 часов</div>
                </li>
            </ul>
        </div>
    </div>
    <div data-pin-city="stokgolm" class="pin-map__city pin-map__city--stokgolm">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__route pin__route--stokgolm">
            {% include 'svg/routes/1.svg' %}
        </div>
    </div>
    <div data-pin-city="helsing" class="pin-map__city pin-map__city--helsing">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__route pin__route--helsing">
            {% include 'svg/routes/2.svg' %}
        </div>
    </div>
    <div data-pin-city="luxemburg" class="pin-map__city pin-map__city--luxemburg">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__route pin__route--luxemburg">
            {% include 'svg/routes/9.svg' %}
        </div>
    </div>
    <div data-pin-city="brusel" class="pin-map__city pin-map__city--brusel">
        <div  data-pin="click" class="pin__icon"></div>
        <div class="pin__route pin__route--brusel">
            {% include 'svg/routes/6.svg' %}
        </div>
    </div>
</div>