<div class="button-text button-text--c_white">
    {{ record.header_banner }}
</div>
<a href="" class="button">
    <span>{{ record.header_banner_button }}</span>
    <span>{{ record.header_banner_button }}</span>
</a>