<ul class="menu">
    {% for item in menu %}
        <li class="menu__item">
            {% if app.request.attributes.get('_route') == item.link %}
                <span class="menu__text menu__text--active">{{ item.title }}</span>
            {% else %}
                <a href="{{ item.link }}" class="menu__text">{{ item.title }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>