<footer class="footer">
    {% setcontent footers = 'footer_block' where { use_in_lang: language } %}
    <ul class="footer-items">
        {% for item in footers|sort %}
        <li class="footer-items__item">
            <div class="footer-items__item-title">{{ item.title }}</div>
            <div class="footer-items__section">
                {{ item.text1 }}
            </div>
            <div class="footer-items__section">
                {{ item.text2 }}
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="footer__copyright">{{ l('© 2016 Dubultu Krasts') }}</div>
</footer>