{% extends 'index.twig' %}

{% block page %}
<div>


    <div style="margin:15px">
        <h2 class="page-title">
            В сердце природы,<br>
            в центре курорта
        </h2>
    </div>


    <div style="margin:15px">
        <div class="pin__wrapper">
            <div class="pin__icon"></div>
            <div class="pin__icon active"></div>
            <div class="pin__icon pin__icon--icon-big active"></div>
            <div class="pin__text">Юрмала</div>
        </div>
    </div>


    <hr>
    <hr>
    <hr>

    <div style="margin:15px;height:200px;">
        <div class="pin__modal">
            <div class="pin__icon-big"></div>
            <div class="pin__title">Москва</div>
            <ul class="pin__list">
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">≈1 час</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">12 часов</div>
                </li>
                <li class="pin__list-item">
                    <div class="pin__list-image"></div>
                    <div class="pin__list-text">11 часов</div>
                </li>
            </ul>
        </div>
    </div>

    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="button-text button-text--c_gray">
            Город-курорт Юрмала
            у Балтийского моря
            находится в 20 минутах
            езды от центра столицы
            Латвии — города Риги
            и в 15 минутах езды от
            аэропорта.
        </div>
        <a href="" class="button">расположение</a>
    </div>

    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="house-circle">
            <div class="house-circle__circle">
                №1
            </div>
            <div class="house-circle__line"></div>
        </div>
        <div class="house-circle house-circle--h120">
            <div class="house-circle__circle">
                №2
            </div>
            <div class="house-circle__line"></div>
        </div>
        <div class="house-circle house-circle--h20 active">
            <div class="house-circle__circle">
                №3
            </div>
            <div class="house-circle__line"></div>
        </div>
        <div class="house-circle house-circle--h90">
            <div class="house-circle__circle">
                №4
            </div>
            <div class="house-circle__line"></div>
        </div>
    </div>

    <hr>
    <hr>
    <hr>

    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="page-text">
            Крупнейший многофункциональный комплекс в центре
            Юрмалы на берегу живописной реки Лиелупе, который
            отвечает требованиям жильцов с самым взыскательным
            вкусом. Dubultu Krasts — это проект, где каждая деталь
            продумана до мелочей, чтобы вы и члены вашей семьи
            жили и отдыхали комфортно.
        </div>
        <div class="page-text">
            Приобретая квартиру в комплексе, вы получаете ряд
            дополнительных возможностей и преимуществ от
            Dubultu Krasts Management:
            <ul>
                <li>круглосуточная помощь сервисной службы;</li>
                <li>круглогодичное обслуживание квартиры;</li>
                <li>помощь в сдаче в аренду вашей недвижимости
                    и управление этой недвижимостью.</li>
            </ul>
        </div>
        <div class="page-text">
            <p>
                На территории комплекса расположено все
            необходимое для комфортной и уютной жизни: бизнес-
            центр, детская комната с услугами няни, оборудованное
            пространство для игр детей школьного возраста,
            современный фитнес клуб. В шаговой доступности
            от комплекса находятся — детские сады, школы,
            поликлиника и магазины.
            </p>
            <p>
                Здесь есть все, что формирует современную
            городскую среду обитания, и при этом вас не будет
            покидать чувство спокойствия и наслаждения жизнью,
            характерное для курорта.
            </p>
        </div>
    </div>

    <hr>
    <hr>
    <hr>

    <div style="margin:15px">

    </div>


    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="text-photo">
            <div class="text-photo__photo"></div>
            <div class="text-photo__text">
                Андис Силис,
                szk partners
            </div>
        </div>
    </div>


    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <ul class="icons-block">
            <li class="icons-block__item">
                <div class="icons-block__item-icon"></div>
                <div class="icons-block__item-text">
                    Подземный паркинг
                </div>
            </li>
            <li class="icons-block__item">
                <div class="icons-block__item-icon"></div>
                <div class="icons-block__item-text">
                    Подземный паркинг
                </div>
            </li>
            <li class="icons-block__item">
                <div class="icons-block__item-icon"></div>
                <div class="icons-block__item-text">
                    Подземный паркинг
                </div>
            </li>
            <li class="icons-block__item">
                <div class="icons-block__item-icon"></div>
                <div class="icons-block__item-text">
                    Подземный паркинг
                </div>
            </li>
        </ul>
    </div>



    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <h4 class="text-title">
            Коммерческая недвижимость
        </h4>
    </div>
    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="contact-block">
            <div class="button">
                <span class="button__icon">{% include 'svg/phone-2.svg' %}</span>
                заказать звонок
            </div>
            <ul class="contact-block__list">
               <li class="contact-block__list-item">
                    <div class="contact-block__list-item-title">
                        Адрес
                    </div>
                   <div class="contact-block__list-item-text">
                       Слокас 51, Юрмала
                   </div>
               </li>
                <li class="contact-block__list-item">
                    <div class="contact-block__list-item-title">
                        Адрес
                    </div>
                    <div class="contact-block__list-item-text">
                        Слокас 51, Юрмала
                    </div>
                </li>
                <li class="contact-block__list-item">
                    <div class="contact-block__list-item-title">
                        Адрес
                    </div>
                    <div class="contact-block__list-item-text">
                        <a href="mailto:sales@dubultukrasts.lv">sales@dubultukrasts.lv</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="page-contact-block">
            <div class="page-contact-block__title">
                Слокас 51, Юрмала <br>
                LV-2015, Латвия
            </div>
            <ul class="page-contact-block__list">
                <li class="page-contact-block__list-item">
                    <div class="page-contact-block__list-item-title">
                        dubultu krasts
                    </div>
                    <div class="page-contact-block__list-item-text">
                        +371 26233311
                    </div>
                    <a href="$" class="page-contact-block__list-item-link">
                        info@dubultukrasts.lv
                    </a>
                </li>
                <li class="page-contact-block__list-item">
                    <div class="page-contact-block__list-item-title">
                        dubultu krasts
                    </div>
                    <div class="page-contact-block__list-item-text">
                        +371 26233311
                    </div>
                    <a href="$" class="page-contact-block__list-item-link">
                        info@dubultukrasts.lv
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <ul class="page-gallery">
            <li class="page-gallery__item">
                <div class="page-gallery__image"></div>
                <div class="page-gallery__text">
                    Bus utem quam et is essitatus.
                    Eribus et ea qui blaut alibusciasi.
                </div>
                <div class="button">виртуальный тур</div>
            </li>
            <li class="page-gallery__item">
                <div class="page-gallery__image"></div>
                <div class="page-gallery__text">
                    Bus utem quam et is essitatus.
                    Eribus et ea qui blaut alibusciasi.
                </div>
                <div class="button">виртуальный тур</div>
            </li>
        </ul>
    </div>



    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="select">
            <select name="house" id="house">
                <option value="1">дом №1</option>
                <option value="2">дом №2</option>
            </select>
            <span class="select__icon">{% include 'svg/small-drop-down.svg' %}</span>
        </div>
    </div>


    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="clear-filter">
            <span class="clear-filter__icon">{% include 'svg/close-small.svg' %}</span>
            очистить фильтр
        </div>
    </div>


    <hr>
    <hr>
    <hr>



    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="loader">
            <div class="loader__animation">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
            <div class="loader__text">
                загрузка
            </div>
        </div>
    </div>


    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="modal-block" style="display: none;">
            <div class="modal-block__container">
                <div class="modal-block__close">
                    {% include 'svg/close-lightbox.svg' %}
                </div>
                <div class="modal-block__text-block">
                    <h4 class="modal-block__title">
                        Спасибо!
                    </h4>
                    <p class="modal-block__text">
                        Ваша заявка на обратный звонок
                        успешно передана. Наши менеджеры
                        свяжуться с вами в ближайшее время
                    </p>
                    <a href="" class="modal-block__link">
                        Вернуться на сайт
                    </a>
                </div>
            </div>
        </div>
    </div>


    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="modal-block" style="display: none;">
            <div class="modal-block__container">
                <div class="modal-block__close">
                    {% include 'svg/close-lightbox.svg' %}
                </div>
                <div class="modal-block__text-block">
                    <h4 class="modal-block__title modal-block__title--top50">
                        Заказать звонок
                    </h4>
                    <form action="" class="modal-block__form">
                        <div class="modal-block__form-input-block">
                            <label class="modal-block__form-input-label" for="name">
                                Ваше имя
                            </label>
                            <input name="name" id="name" class="modal-block__form-input" />
                        </div>
                        <div class="modal-block__form-input-block">
                            <label class="modal-block__form-input-label" for="name">
                                Телефон <span class="modal-block__form-input-label modal-block__form-input-label--c-red">*</span>
                            </label>
                            <input name="name" id="name" class="modal-block__form-input" />
                        </div>
                        <div class="modal-block__form-input-block">
                            <label class="modal-block__form-input-label" for="name">
                                Эл. почта
                            </label>
                            <input name="name" id="name" class="modal-block__form-input" />
                        </div>
                        <button class="button button--form" type="submit">
                            отправить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <hr>
    <hr>
    <hr>

    <div style="margin:15px">
        <div class="modal-block modal-block--gallery" style="display: none;">
            <div class="modal-block__container modal-block__container--gallery">
                <div class="modal-block__close">
                    {% include 'svg/close-lightbox.svg' %}
                </div>
                <div class="modal-block__arrow modal-block__arrow--prev">
                    {% include 'svg/arrow.svg' %}
                </div>
                <div class="modal-block__arrow modal-block__arrow--next">
                    {% include 'svg/arrow.svg' %}
                </div>
                <div class="modal-block__gallery-block">

                </div>
                <div class="modal-block__gallery-buttons-block">
                    <div class="button button--gallery">виртуальный тур</div>
                    <div class="button button--gallery">фотогалерея</div>
                    <div class="button button--gallery active">видео</div>
                    <div class="button button--gallery">демо-квартира</div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <hr>
    <hr>

    <div style="margin:15px; height: 600px;">
        Gallery
        <div class="modal-block__arrow modal-block__arrow--prev" data-button-gallery="prev">
            {% include 'svg/arrow.svg' %}
        </div>
        <div class="modal-block__arrow modal-block__arrow--next" data-button-gallery="next">
            {% include 'svg/arrow.svg' %}
        </div>
        <style>
            .swiper-container {
                width: 100%;
                height: 100%;
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
        </style>
        <div class="modal-block__gallery-block" data-active-gallery="vr">
            <div class="swiper-container" data-gallery-block="vr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{{ app.request.basepath }}/public/images/test/cake1.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ app.request.basepath }}/public/images/test/cake2.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ app.request.basepath }}/public/images/test/cake3.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ app.request.basepath }}/public/images/test/cake4.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr>
    <hr>
    <hr>
</div>

<div>
    {% include 'blocks/map.twig' %}
</div>

{% endblock %}