<head>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/public/csslib/swiper.min.css">
    <title>{{ index.title }}</title>
</head>